.title_nav svg,
.title_nav span {
    display: inline-block !important;
}

.title_nav svg {
    color: #FF5A5F;
    font-size: 34px;
    margin-right: 15px;
}

.filter-list{
    margin-top: 20px;
}

.filter-list a {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    background: none;
    color:#484848;
    overflow: hidden;
}

.filter-list a:hover {
    background: #F2F2F2;
    border-color: #F2F2F2;
    color:#484848;
}

.allFilters{
    height: 90%;
    transition: 1s ease;
    overflow: hidden;
}
.closeFilters{
    height: 0;
}
.filter_show{
    border: 1px solid #dce0e0;
    background: none;
    color:#484848;
    padding: 10px;
    border-radius: 6px;
    text-align:center;
    cursor: pointer;
}
.switchMap {
    text-align: center;
}

.switchModule{
    text-align: center;
    margin-top: 5px;
}

.close{
    flex: 0 0 0;
    overflow: hidden;
}

#mapGoogle{
    transition: 1s ease;
    padding: 0 !important;
    overflow: hidden;
}

.container_logements .p_title{
    font-size: 30px;
    color:rgb(72, 72, 72);
    font-weight: 700;
}

.container_logements .trophies{
    color:rgb(72, 72, 72);
    font-size:14px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container_logements .trophies img{
    width: 50px;
    margin-right: 20px
}

.card_logements {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    overflow: hidden;
    margin: 16px 0px;
}

.card_logements:hover{
    box-shadow: 0px 0px 3px 1px #dadada;
}

.card_logements .col-md-4{
    padding-left: 0;
    padding-right: 0;
}

.card_logements img {
    max-width:100%;
    max-height: 100%;
    vertical-align: top;
}

.card_logements .information {    
    margin-top: 10px;
}

.card_logements .information p{
    margin-bottom: 0;
}

.card_logements .information .type_logement {
    font-size: 12px;
    color: rgb(83, 18, 16);
    text-transform: uppercase;
    font-weight: 800;
}

.card_logements .information .title_logement {
    color: rgb(72, 72, 72);
    font-size: 18px;
    font-weight: 800;
}

.card_logements .caract_logement {
    font-size: 14px;
    font-weight: 100;
    color: rgb(72, 72, 72);
}

.card_logements .prices p{
    margin-bottom: 0;
}
.card_logements .prices .price {
    color: rgb(72, 72, 72);
    font-weight: 800;
    font-size: 18px;
}
.card_logements .prices .time {
    color: rgb(72, 72, 72);
    font-weight: 800;
    font-size: 12px;
}
.card_logements .prices .cancel {
    color: rgb(72, 72, 72);
    font-weight: 600;
    font-size: 12px;
    margin-top: 25px;
}
.card_logements .prices_mobile .text{
    color: rgb(72, 72, 72);
    font-weight: 400;
    font-size: 14px;
}
.hidden-xs{
    display: none;
}
.visible-xs{
    display:block;
}

#mapGoogleMobile{
    height: 350px;
    width: 100%;
    margin-bottom: 20px;
    transition: 1s ease;
}

.hidden-lg{
    display: block;
}

.close-mobile{
    height: 0 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container_logements{
        overflow-y: scroll;
        height: calc(100vh - 71px);
    }
    .card_logements {
        height: 222px;
    }
    .card_logements .prices {
        border-left: 1px solid rgb(235, 235, 235);
        margin: 16px 0;
    }
    .hidden-xs{
        display: block;
    }
    .visible-xs{
        display:none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
    .hidden-lg{
        display: none;
    }
}